<div class="container" ng-controller="subjectsCT">
    <div>
      <table class="table table-striped">
    <thead>
      <tr>
        <th>Subject Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody ng-repeat="subject in subjects">
      <tr>
        <td>{{subject.name}}</td>
        <td>{{subject.startTime}}</td>
        <td>{{subject.endTime}}</td>
        <td>{{subject.duration}}</td>
      </tr>
    </tbody>
    </table>
    </div>
    <br/>
    <br/>
    <div>
     <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="addSubjects()">Add subjects</button>
    </div>
    <div  ng-hide="myValue" class="ng-hide">
       <form class="form-signin" role="form" ng-submit='submit()'>
        <div  style="padding-bottom:0px;">
        <br/>
            <h2> subjects</h2>
        </div>
        <input class="form-control" type="text" ng-model="data.name" placeholder="Name">
        <input class="form-control" type="number" ng-model="data.duration" placeholder="Duration">
        <div>Start Time
<select class="custom-select"  ng-model="data.startTime">
  <option value="{{8}}">8</option>
  <option value="{{9}}">9</option>
  <option value="{{10}}">10</option>
  <option value="{{11}}">11</option>
  <option value="{{12}}">12</option>
  <option value="{{1}}">1</option>
  <option value="{{2}}">2</option>
</select>
</div>
<div>End Time
<select class="custom-select" ng-model="data.endTime">
  <option value="{{9}}">9</option>
  <option value="{{10}}">10</option>
  <option value="{{11}}">11</option>
  <option value="{{12}}">12</option>
  <option value="{{1}}">1</option>
  <option value="{{2}}">2</option>
</select>
</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
    </div>
</div>